@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

.cat-children {
  padding-left: 15px;
}

.price {
  color: red;
  font-weight: bold;
  font-size: 130%;
  margin: 0 5px 0 5px;
}

.product {
  margin-bottom: 5px;
  height: 200px;
}

#discount {
  display: none;
}

#categories-tree {
  overflow-y: auto;
  position: fixed;
  height: 100%;
  padding-bottom: 70px;
}

#logo {
  margin-bottom: -25px;
}

.field {
  margin-top: 23px;
}
